*{box-sizing: border-box;}

html{
	height: 100%;
	width: 100%;
}

body{
	font-family: 'Special Elite', cursive;
	height: 100%;
	margin: 0px;
}

.lefttxt{
	border: 3px solid black;
	display: inline-block;
	margin: 7em auto;
	color: black;
	padding: 1em;
}

.righttxt{
	border: 3px solid white;
	display: inline-block;
	margin: 7em auto;
	color: white;
	padding: 1em;
}

#leftside{
	width: 50%;
	float: left;
	display: inline-block;
	font-family: 'Special Elite', cursive;
	text-align: center;
	height: 100%;
	background-color: #b71c1c;
}

#rightside{
	width: 50%;
	float: right;
	display: inline-block;
	font-family: 'Special Elite', cursive;
	text-align: center;
	height: 100%;
	background-color: #0d47a1;
}

a{
	text-decoration: none;
}
